@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); 

:root{
    --gld-clr-main: #fca70c;
    --crm-clr-main: #fff;
    --grn-clr-light:#668b67;
    --grn-clr-main: #3a533b;
    --grn-clr-btn:  #235f30;
    --grn-clr-light-btn: #76c34c;
    --green-primary:hsl(99, 73%, 26%);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{

    min-height: 90px;
    background: var(--grn-clr-main);
    /* background:#eaecce; */
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 0 35px;

}

nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul li a {
    /* padding: 0 20px; */
    
    text-decoration: none;
    color: #eaecce;
    /* color: #3a533b; */
    font-weight: 500;
    display: inline-block;
}

nav li a::after {
	content:'';
	display:block;
	height: 4px;
	width:0;
	background:var(--gld-clr-main);
    transition: all 2s;
}

nav li a:hover::after{
    width:100%;
}

.main-content {
    display:flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    /* background:#eaecce; */
    background: linear-gradient(20deg, #eaecce, white, ivory, #a89f9f);
}

.hero-img{
	max-width:670px;
	height:auto;
}
.content-left{
	width:30%;
    margin-right:20px;
}

.content-right{
    margin-left:20px;
}

h1{
	
	color:var(--grn-clr-main);
	text-transform:uppercase;
    font-weight:400;
}

main h2 {
	
	color:var(--gld-clr-main);
	font-weight:400;
	text-transform:uppercase;
	letter-spacing: 8px;
}

main p{
	font-size:15px;
	font-weight:400;
	color:#043535;
	line-height:31.5px;
	margin: 30px 0;
}

/* buttons */
.btn-green{
    padding: 15px 30px;
	background: var(--grn-clr-btn);
	color: var(--crm-clr-main);
	outline: none;
	border: none;
	font-weight: 700;
	text-transform: uppercase;
	border-radius:50px;  
}

.btn-green:hover{
    padding: 15px 30px;
	background: var(--grn-clr-light-btn);
	color: var(--crm-clr-main);
	outline: none;
	border: none;
	font-weight: 700;
	text-transform: uppercase;
	border-radius:50px;  
    cursor:pointer;
    transition:2s;
}

.logo{
    color: var(--gld-clr-main);
    text-decoration: none;
}

.logo:hover{
    
    font-size: 1.2em;
    transition: 3s;
}

footer a{
    text-decoration: none;
    color: var(--crm-clr-main);
}

footer {
    display:flex;
    justify-content:center;

    font-size:14px;
	font-weight:400;
	color: var(--crm-clr-main);
	padding: 15px 0;
    background:var(--grn-clr-light);
}
.mission-statement{
    padding-top:20px;
    display: flex;
    justify-content:center;
    align-items:normal;
}
.left-content{
	width:35%;
    margin-right:20px;
}
.right-content{
	width:35%;
    margin-left:20px;
    padding: 15px;
}
.left-content h2{
    color:var(--grn-clr-light);
}
.left-content h2{
    text-align:start;
}
.right-content h3{
    color:var(--gld-clr-main);
}
.about-us{
    background: linear-gradient(20deg, #eaecce, white, ivory, #a89f9f);
}
.contact-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* height: 50vh; */
    
}
#contact-us{
    /* background:#eaecce; */
    background: linear-gradient(20deg, #eaecce, white, ivory, #a89f9f);
}
.cnt-para{
    width:30%;
    margin-left: 20px;
}
.cnt-header {
    width:40%;
    margin-right: 20px; 
}

.cente-text{
    text-align: center;
}

/* hide humburg menu icon */

.humburg {
    display: none;
}

.core-values {
    line-height: 1.2rem;
}
.goodle-map iframe {
    width: 100%;
    
}
.goodle {
    margin-top: 20px 0;
}

input[type=text], input[type=email], input[type=textarea] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea{
    width: 100%;
    padding: 12px 20px;
    border: 2px solid #ccc;
    resize: none;
    border-radius: 5px;
}

address {
    padding: 20px 0;
}

/* photo gallery */
.gallery-div{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    /* background:#eaecce; */
    
}
#gallery{
    background: linear-gradient(20deg, #eaecce, white, ivory, #a89f9f);
}
.image{
    width:25%;
}
img{
    width:100%;
    height: 100%;
    border-radius: 5px;
}

.card{
    border: 1px solid #d3d1d1;
    padding: 15px 15px 15px 30px;
    margin-top: 10px;
    box-shadow: 0 1px 1px #b0afaf;
    border-radius: 5px;
    /* background: whitesmoke; */
    opacity: 75%;
}


.humburg div{
    width: 35px;
    height: 3px;
    margin: 4px;
    background-color: white;
}



/* responsive section */

@media (max-width: 480px) {
    /* home 'page'*/
    body{
        overflow: hidden;
    }
    .humburg{
        display:block;
    }
    .nav-links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 20px 0 0 0 ; */
        /* transform: translateX(100%);   */
        transition: transform .5s ease-out;
        position: absolute;
        right: 0px;
        height: 50vh;
        top: 12vh;
        width: 50%; 
        background: var(--grn-clr-btn);
    }
    .main-content {
        flex-direction:column-reverse;
        justify-content: start;
        align-items: start;
        /* height: 90vh; */
    }
    .hero-img{
        max-width:100%;
        height:auto;
    }
    .content-left{
        width:100%;
        padding:5px;
    }
    .content-left h1, h2, h3{
        text-align: center;
    }
    .content-right{
        margin:1px;
    }
    main p{
        margin: 30px 10px;
    }
    /* menu icon */
   

    /* about us section */
    .mission-statement{
        flex-direction: column-reverse;
        justify-content:center;
        align-items:normal;
    }
    .left-content{
        width:100%;
        margin:10px;
    }
    .right-content{
        width:100%;
        margin:10px;
    }
    /* contact us section */
    .contact-div{
        flex-direction: column-reverse;
        justify-content:center;
        align-items:normal;
    }
    
}

@media (min-width: 481px) and (max-width: 768px){
    /* home 'page'*/
    body{
        overflow: hidden;
    }
    .humburg{
        display:block;
    }
    .nav-links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 20px 0 0 0 ; */
        /* transform: translateX(100%);   */
        transition: transform .5s ease-out;
        position: absolute;
        right: 0px;
        height: 50vh;
        top: 12vh;
        width: 50%; 
        background: var(--grn-clr-btn);
    }
    .main-content {
        flex-direction:column-reverse;
        justify-content: start;
        align-items: start;
        /* height: 90vh; */
    }
    .hero-img{
        max-width:100%;
        height:auto;
    }
    .content-left{
        width:100%;
        padding:5px;
    }
    .content-left h1, h2, h3{
        text-align: center;
    }
    .content-right{
        margin:1px;
    }
    main p{
        margin: 30px 10px;
    }
    /* menu icon */
   

    /* about us section */
    .mission-statement{
        flex-direction: column-reverse;
        justify-content:center;
        align-items:normal;
    }
    .left-content{
        width:100%;
        margin:10px;
    }
    .right-content{
        width:100%;
        margin:10px;
    }
    /* contact us section */
    .contact-div{
        flex-direction: column-reverse;
        justify-content:center;
        align-items:normal;
    }
    
}
@media (min-width: 769px) and (max-width:1024px) {
    /* home 'page'*/
    body{
        overflow: hidden;
    }

    .main-content {
        flex-direction:column-reverse;
        justify-content: start;
        align-items: start;
        /* height: 90vh; */
    }
    .hero-img{
        max-width:100%;
        height:auto;
    }
    .content-left{
        width:100%;
        padding:5px;
    }
    .content-left h1, h2, h3{
        text-align: center;
    }
    .content-right{
        margin:1px;
    }
    main p{
        margin: 30px 10px;
    }
    /* menu icon */
   

    /* about us section */
    .mission-statement{
        flex-direction: column-reverse;
        justify-content:center;
        align-items:normal;
    }
    .left-content{
        width:100%;
        margin:10px;
    }
    .right-content{
        width:100%;
        margin:10px;
    }
    /* contact us section */
    .contact-div{
        flex-direction: column-reverse;
        justify-content:center;
        align-items:normal;
    }
    
}
.nav-active{
        transform: translateX(0%);
    }